.productImg {
    object-fit: contain;
    width: 350px;
}

.productName, .productPrice {
    font-weight: 900;
    text-transform: uppercase;
    color: #5c79fc;
}

.contentAlign {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}
.productDes {
    font-weight: 400;
    color: #8c99d8;
}

.addToCart {
    background-color: #4363f5;
    padding: 10px;
    outline: none;
    border: 1px solid #5c79fc;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fefefe;
    font-weight: 600;
    cursor: pointer;

}
